<!DOCTYPE html>
<html>
  <head>
    <title>Form Submission</title>
    <meta name="api-base-url" content="{{ API_BASE_URL }}" />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <h2 id="form-title">Loading...</h2>

    <form id="dynamic-form"></form>

    <script>
      const apiBaseUrl = document
        .querySelector('meta[name="api-base-url"]')
        .getAttribute("content");
    </script>
    <script src="/static/js/form-submission.js"></script>
  </body>
</html>
