<!DOCTYPE html>
<html>
<head>
  <title>Form Submission</title>
  <link rel="stylesheet" href="static/css/styles.css" />
</head>
<body>
  <h2>Fill Form: Feedback</h2>
  <form id="dynamic-form">
    <label>Name</label>
    <input type="text" required />

    <label>Age</label>
    <input type="number" />

    <label>Rate our service</label>
    <select>
      <option>Excellent</option>
      <option>Good</option>
      <option>Poor</option>
    </select>

    <label>Would you recommend us?</label>
    <input type="checkbox" /> Yes

    <button type="submit">Submit</button>
  </form>
</body>
</html>
